KrT_IIDX
KrT_IIDX.exe

*.a
*.o
*.spv
*.glsl

*.hduped.hpp

*.resdecl.cpp
*.resdecl.hpp

common/tools/res_detector/res_detector
common/tools/res_detector/res_detector.exe
common/res_ship
common/res_ship.exe